* {
	box-sizing: border-box;
}

body {
	padding: 1rem 0.5rem;
	font-size: 1.3rem;
	line-height: 1.2;
	max-width: 60rem;
	margin: 0 auto;
	color: #333;
}

img {
	max-width: 100%;
}

.Header {
	text-align: center;
	border-bottom: 8px double #f9f9f9;
	margin-bottom: 2rem;
	padding-bottom: 1rem;
}

.Strap {
	font-size: 1rem;
}

.MoneyShot {
	position: relative;
}

.MoneyShotImg {
	border: 0px solid #e8cfa9;
	border-radius: 6px;
}

.LogoWrapper {
	display: block;
}

.ImageCaption {
	font-size: 0.75rem;
	position: absolute;
	bottom: 0.5rem;
	right: 1rem;
	padding: 3px;
	background-color: rgb(255, 255, 255);
	color: #818181;
}

.IntroText {
	font-size: 1.8rem;
	font-style: italic;
}

.FootText {
	font-size: 0.8rem;
	color: #777;
}

.MethodWrapper li:after {
	content: "✼";
	display: block;
	text-align: center;
	margin: 0 0 0 0;
	color: #eee;
}


ul {
	list-style: none;
}


.crimeTable table{
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

.crimeTable td, th {
	border: 1px solid #dddddd;
	text-align: center;
	padding: 8px;
}

.crimeTable tr:nth-child(even) {
	background-color: #dddddd;
}



.nav {
	z-index: 1;
	position: fixed;
	top: 50px;
	left: 10px;
	display: flex;
	flex-direction: column;
	background-color: white;
	padding: 10px 20px;
	box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
	border-radius: 5px;
}

@media screen and (max-width: 799px) {
    .nav {
        left: initial;
        top: initial;
        bottom: 0px;
        width: 100%;
    }
}

.nav a {
    text-decoration: none;
    color: #0008fc;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
}

.nav a:not(:last-child) {
    margin-bottom: 20px;
}




@media screen and (min-width: 800px) {
	body {
		border-left: 4px solid #f9f9f9;
		border-right: 4px solid #f9f9f9;
		padding: 1rem 2rem;
	}

	.IntroWrapper {
		display: table;
		table-layout: fixed;
		width: 100%;
	}

	.MoneyShot,
	.IntroText {
		display: table-cell;
		width: 50%;
		vertical-align: middle;
		text-align: center;
	}

	.IntroText {
		padding: 1.5rem;
		font-size: 2.0rem;
		text-align: left;
		position: relative;
	}

	.Ingredients {
		font-size: 0.9rem;
		float: right;
		padding: 1rem;
		margin: 0 0 0.5rem 1rem;
		border-radius: 3px;
		background-color: #ffffdf;
		border: 2px solid #e8cfa9;
	}

	.Ingredients h3 {
		margin: 0;
	}

}